<html>
    <head>
        <title>
            Chat App
        </title>

        <script type="text/js" src="public/chat.js"></script>
    </head>
    <body>
        <h1>
            Welcome Chat App
        </h1>
    </body>
</html>